*

!README.md
!LICENSE
!dub.json
!.gitignore
!.travis.yml
!source/
!*.d
!*.dpp

source/opencl.d

.dub
docs.json
__dummy.html
docs/
/dpp-opencl
dpp-opencl.so
dpp-opencl.dylib
dpp-opencl.dll
dpp-opencl.a
dpp-opencl.lib
dpp-opencl-test-*
*.exe
*.o
*.obj
*.lst
